@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #1b1d1a;
    --text-light: #767268;
    --extra-light: #f3f4f6;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
  }
  
  header {
    display: flex;
    min-height: 100vh;
  }
  
  .container-left,
  .container-right {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .container-left {
    background-color: var(--secondary-color);
    justify-content: flex-end;
  }
  
  .nav-logo {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--extra-light);
  }
  
  .content {
    max-width: 600px;
    padding: 2rem;
    padding-top: 5rem;
    flex: 1;
    color: var(--extra-light);
    display: grid;
    gap: 2rem;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
    text-align: right;
    max-width: 100%;
  }
  
  .subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right;
    margin-right: 6%;
  }
  
  .description {
    max-width: 500px;
    text-align: right;
  }
  
  .action-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
  }
  
  .portfolio {
    background-color: var(--extra-light);
  }
  
  .cv {
    color: var(--text-light);
    text-decoration: underline;
    transition: 0.3s;
  }
  
  .cv:hover {
    color: var(--extra-light);
  }
  
  .nav-links {
    position: absolute;
    position: fixed;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.235);
    background-color: black;
    top: 0;
    width: 100%;
    max-width: 760px;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }
  
  .link {
    padding: 0 0.5rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .link:hover {
    color: var(--extra-light);
  }

  a{
    text-decoration: none;
  }
  
  .image {
    max-width: 600px;
    padding: 2rem;
    padding-top: 5rem;
    flex: 1;
    display: grid;
    place-content: center;
    position: relative;
  }
  
  .image img {
    max-width: 400px;
  }
  
  .image-content {
    color: var(--extra-light);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
  
  .image-content h4 {
    background-color: var(--extra-light);
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .image-content p {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .about-me{
    color: var(--extra-light);
    background: #1B1D1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  main{
    min-height: 100vh;
  }

  .about-me p{
    width: 50%;
    text-align: right;
  }

  .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills h1{
    color: var(--extra-light);

  }

  .skills-img{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  .skills .css-img{
    width: 11%;
  }

  .skills .js-img{
    width: 9%;
  }

  .js-img{
    align-self:flex-end;
  }

  .skills img{
    width: 10%;
    height: 5%;
    border-radius: 20%;
  }


.projects{
  background: #1B1D1A;
  max-width: 100%;
}
  
.projects_container{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 15px;
  /* max-width: 100%; */
}

.projects h1{
  color: var(--extra-light);
  text-align: center;

}

.projects_data{
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: #131413;
  box-shadow: 0 2px 6px rgbe(65,11,16,.15);
  border-radius: 1rem;
  /* width: 20%; */
}

.projects_data h3{
  color: var(--extra-light);
}

.projects_data p{
  color: white;
}

/* .projects_data img{
  max-width: 350px;
  height: 80%;
} */

.decoration_img{
  width: 250px;
  height: 25vh;
  transition: .3s;
}

.decoration_img:hover{
  opacity: 0.5;
  transition: .3s;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100%; */
}

.contact h1{
  color: var(--extra-light);
  text-align: center;
}


.contact_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background: #1B1D1A;
  /* width: 60%; */
  max-width: 100%;
  max-height: 100vh;
  padding: 5rem;
  border-radius: 1rem;
}

.form-container h2,
.form-container p{
  text-align: center;
}

form{
  text-align: center;
}

.form-button{
  background: var(--extra-light);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: .3s;
}

.form-button:hover{
  background: #5b5b5b;
  transition: .3s;
}


.contact_title, .contact_description{
color: var(--extra-light)
}

.contact_input{
  width: 90%;
  height: 3.5rem;
  outline: none;
  border: none;
  font-size: 100%;
  text-align: center;
  border-radius: .5rem;
  margin: 1%;
}

.contact_img{
  max-width: 280px;
  justify-self: center;
  align-self: center;
}

.contact_img img{
  border-radius: 50%;
}

.footer_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer_content{
  margin: 2%;
}

.footer_content ul li{
 list-style: none;
}

.footer_content h3{
  color: var(--extra-light);
}

.footer_logo{
  color: var(--extra-light);
}

.footer_title{
  margin-bottom: var(--mb-2);
}

.footer_logo, .footer_title{
  font-size: var(--h3-font-size);
}

.footer_link{
  margin-bottom: .75rem;
  color: var(--extra-light);
}


.footer_link:hover{
  color: var(--extra-light);

}

.footer_social{
  font-size: 1.5rem;
  color: var(--extra-light);
  margin-right: var(--mb-3);
}

.footer_social:hover{
  color: var(--extra-light);

}

.footer_copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--extra-light);
  margin-top: 4rem;
}

.thanks-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.thanks-container h1{
  color: var(--extra-light);
}

.thanks-container h2{
  color: var(--extra-light);
}

.thanks-container img{
    width: 20%;
    height: 40vh;
    border-radius: 50%;
    transform: rotateY(360deg);
    transition: 5s;
}

#goBackBtn{
  color: black;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}


  
  @media (width < 900px) {
    header {
      flex-direction: column-reverse;
    }
  
    .container__left,
    .container__right {
      justify-content: center;
    }
  
    .content {
      text-align: center;
    }
  
    .action-btns {
      justify-content: center;
    }
  }

  @media screen and (max-width: 425px) {
    .projects{
      width: 100%;
    }

    .projects_container{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    }

    .projects_data{
     height: 30vh;
     width: 48vw;
    }

    .projects_data img{
      width: 40vw;
      height: 20vh;
    }

    .skills-img{
      display: flex;
      flex-wrap: wrap;
    }

    .skills-img img{
      width: 25%;
      margin: 5%;

    }

    .skills-img .css-img{
      width: 26%;
    }

    .skills-img .js-img{
      width: 25%;
    }

    .form-button{
      color: black;
    }
    
  }
